* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #06113c;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* Logo */
.logo {
  font-size: 36px;
}

.logo .logo1 {
  color: #ff8c32;
}

/* Navbar Menu */
.menu {
  display: flex;
  padding: 5px;
  font-size: 16px;
}

.menu a:hover {
  color: #ff8c32;
  text-shadow: none;
}

.menu li {
  padding: 10px 14px;
}

/* Button */
.menu .button1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  border: none;
  display: block;
  border-radius: 20px;
  background-color: #ff8c32;
  color: #fff;
  cursor: pointer;
}

.button1:hover {
  background-color: #ffffff;
  /* Green */
  color: #ff8c32;
  border: 2px solid #ff8c32;
  transition-duration: 0.8s;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  padding: 4px 16px;
  border-radius: 20px;
  width: 215px;
  margin-left: 8px;
}

.search-bar .search-icon {
  font-size: 1.2rem;
  color: #7e7e7e;
}

.search-bar .search-input {
  transition: 0.5s;
  width: 0px;
}

.search-bar .search-input .input {
  border: none;
  outline: none;
  background-color: unset;
  padding: 8px;
  font-family: "Poppins";
  font-size: 0.9rem;
}

/* Image Slider */
.slider-frame {
  overflow: hidden;
  height: 660px;
  width: auto;
  margin-left: 335px;
}

/* slide animation */
.slider-form {
  width: 1180px;
  position: absolute;
  left: 19%;
  border: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 5px 28px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.img-slider {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

img {
  width: 100%;
}

.slider-pic {
  width: 1110px;
  height: 600px;
  position: absolute;
  left: 17%;
  border: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 5px 28px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.slider {
  width: 100%;
  display: flex;
  animation: slides 16s infinite;
}

.slider-pic h3 {
  position: relative;
  margin-top: 15rem;
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  35% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }

  85% {
    transform: translateX(-300%);
  }

  95% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(-400%);
  }
}

@keyframes slides {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  35% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-200%);
  }
}

/* Main */
.header1 {
  display: flex;
  justify-content: space-between;
  max-width: 63.5%;
  margin-top: 650px;
  margin-left: 340px;
  padding: 20px;
  align-items: center;
}

.news {
  flex: 1;
  margin-right: 50px;
}

.cta {
  flex: 0 0 200px;
}

.buttonls {
  display: block;
  width: 80%;
  padding: 10px;
  color: #ff8c32;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Card Hot News */

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-news {
  width: 365px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 8px;
  padding: 10px 10px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
  padding: 10px 10px;
}

.user-news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 10px;
  padding-left: 10px;
}

.user-image {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 30%;
}

.user-image img {
  width: 100%;
  height: auto;
}

.user-info {
  display: flex;
  justify-content: flex-start;
}

.user-news > small {
  color: #7e7e7e;
  font-weight: bold;
}

.user-info .btn-news {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  background-color: #ff8c32;
  text-decoration: none;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  margin-left: 16px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.box-container .box {
  padding: 1.2rem 1.3rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

.box-container .box img {
  height: 12rem;
  margin: 0.5rem 0;
}

.box-container .box h3 {
  font-size: 1.5rem;
}

.box-container .box .btn {
  font-size: 16px;
  margin: 4px 2px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  border: none;
  display: block;
  border-radius: 20px;
  background-color: #ff8c32;
  color: #fff;
  cursor: pointer;
}

.box-container .box .btn:hover {
  background-color: #ffffff;
  color: #ff8c32;
  border: 2px solid #ff8c32;
  transition-duration: 0.8s;
}

.box-container .box .desc {
  display: flex;
  justify-content: space-between;
}

.box-container .box .desc .btn {
  float: right;
}

.box-container .box .desc .dec {
  margin-top: 0.5rem;
}

.box-container .box .desc .dec .fas {
  color: #a00000;
}

.title h1 {
  font-size: 20px;
  margin: 0;
  color: #ff8c32;
}

.title h1 span {
  color: #fff;
}

.title p {
  font-size: 20px;
  margin: 0;
  color: #fff;
}

.title p span {
  color: #ff8c32;
}

/* INFORMASI */
/* kota */

.service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-center h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.text-center h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ff8c32;
}
.service-item {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.service-box {
  padding: 45px 30px;
  background: rgb(245, 243, 243);
  border-radius: 0.8rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}

.service-box img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
}

.service h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #000000;
}
.service p {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 1.5rem;
}

.service-box:hover {
  transform: translateY(-8px);
  border: 1px solid #ff8c32;
}

.s-btnn {
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  display: block;
  border-radius: 20px;
  background-color: #ff8c32;
  color: #fff;
  cursor: pointer;
}

.s-btnn:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  /* Green */
  color: #ff8c32;
  border: 1px solid;
  transition-duration: 0.8s;
}

/* Information */
.information .information-wrapper {
  margin: auto;
  padding: 100px;
}

.information .row1 {
  text-align: center;
}

.information .label-information {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #06113c;
}

.information-wrapper .heading-information {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  margin: 10px 0;
}

.information-wrapper .subheading-information {
  font-size: 20px;
  color: #ff8b32;
}

.information-wrapper .row2 {
  background-color: #06113c;
  color: #ffffff;
  width: 100%;
  height: 120%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px 50px 0 0;
}

.row2 .box-information {
  position: relative;
  max-width: 300px;
  text-align: center;
  padding: 30px;
}

.box-information img {
  position: relative;
  width: 50px;
  height: 50px;
}

.box-information h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #ff8b32;
}

.box-information .btn-learn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: #ff8b32;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: 0.2s ease-in-out;
}

.box-information:hover .btn-learn {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  transition: 0.2s ease-in-out;
}

.btn-learn a {
  color: #ffffff;
}

.container-search {
  width: 500px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #cccccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.head {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #06113c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
  background-color: #06113c;
  color: #cccccc;
  border: 1px solid;
  transition-duration: 0.8s;
}

/* navbar */


/*layanan*/

.container {
  text-align: center;
  width: 100%;
}

.headerlayanan {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #06113c;
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: 164px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left img {
  max-width: 170px;
  height: auto;
}

.header-right {
  text-align: left;
}

.header-right h1 {
  font-size: 36px;
}

.header-right p {
  font-size: 36px;
}

.header-right h1,
.header-right p {
  color: white;
}

.header-right h1 span,
.header-right p span {
  color: #ff8c32;
}

.card {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.card-content {
  margin-bottom: 20px;
  padding: 0px 0;
}

.card p {
  font-size: 15px;
  color: #000;
}

.card p strong {
  font-weight: bold;
  font-size: 36px;
  color: #06113c;
}

.highlight {
  color: #ff8c32;
}

.horizontal-search-bar {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left;
  margin-top: 10px; 
}


.search-container {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  text-align: left;
}

.search-container .search-input input {
  border: none;
  margin: 0 10px;
  color: #9F9F9F;
  background-color: #F0F0F0;
  font-size: 14px;
}

.search-button-Cari {
  margin: 0 10px;
  border-radius: 10px;
}

.separator {
  margin: 0 10px;
  color: #9F9F9F;
}

.horizontal-search-bar .fas {
  color: #9F9F9F;
}

#service-options {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  margin-top: 10px;
}

#service-options p {
  font-weight: bold;
}

#service-options button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #06113c;
  color: white;
  border: none;
  cursor: pointer;
}

#service-options button:hover {
  background-color: #06113c;
}


#service-container p {
  font-weight: bold;
}

#service-container button {
  display: inline; 
  width: 100px;
  height: 40px;
  margin-right: 10px;
}

/* Style for the "Cari" button */
#cari-button {
  background-color: #06113c;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

#cari-button:hover {
  background-color: #06113c;
}

.small-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-text {
  font-weight: bold;
}

.arrow {
  color: #9F9F9F;
  margin-left: 5px;
}

.police-info {
  display: flex;
  align-items: center;
  max-width: 990px;
  max-height: 148px;
}

.police-info img {
  width: auto;
  height: 98px;
  margin-right: 20px;
}

.police-text {
  flex: 1;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.police-text h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.police-text p {
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
}

.police-text p:last-child {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  background-color: #3E3E3E;
  color: white;
  padding: 10px;
  border: 1px solid #3E3E3E;
  width: 175px; 
  height: 20px;  
  border-radius: 10px;
  font-weight: normal;
}

#ajukan-pengaduan {
  background-color: #06113c;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: auto;
}

.button-pengaduan {
  background-color: #06113c;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 229px;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.button-pengaduan i {
  margin-left: 5px;
}

.button-pengaduan:hover {
  background-color: #0a1f53;
}


.text-warning {
  color: #ff8c32;
}

.police-divider {
  border-top: 2px solid black;
  margin-top: 10px;
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.form-subtitle {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  position: relative;
  padding: 20px;
  background-color: #FBFBFB;
  width: 978px;
  height: 30px;
  border-radius: 20px;
  outline: 2px solid #B8B8B8;
}

.form-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group2 {
  position: relative;
  padding: 20px;
  background-color: #FBFBFB;
  width: 978px;
  height: 276px;
  border-radius: 20px;
  outline: 2px solid #B8B8B8;
}

.form-group input {
  width: calc(100% - 30px);
  height: 40px;
  font-size: 20px;
  color: #B8B8B8;
  background: transparent;
  border: none;
  outline: none;
}

.form-group2 input {
  flex: 1;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #B8B8B8;
  background: transparent;
  border: none;
  outline: none;
}


.form-group i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #B8B8B8;
  cursor: pointer;
}

.button-container2 {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 181px;
  background-color: #06113c;
  color: white;
  cursor: pointer;
}

/* Pop-up Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 601px;
  height: 552px;
}

#popup-image {
  max-width: 70%;
  height: auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 17px;
  margin-bottom: 20px;
}

.popup-button {
  background-color: #06113c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  width: 142px;
  height: 46px;
  margin: 20px auto;
}

/*layanan*/

/* card informasi */

.slides {
  padding: 30px 19% 30px;
}
.slides a {
  color: #000;
}

.slides span {
  color: #666;
}
.card-content {
  padding: 30px 19% 30px;
}

.pict-head img {
  align-items: center;
  width: 1050px;
  height: 500px;
}

.container-angka {
  padding: 30px 19% 30px;
}

.head-angka h2 {
  font-size: 23px;
  margin-bottom: 12px;
  color: #111c4b;
}

.rows {
  padding: 10px;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(240, 239, 239);
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.card-angka h1 {
  color: #111c4b;
  margin: 0;
}
.card-angka p {
  font-size: 14px;
  color: #111c4b;
  margin: 0;
}
.card-angka {
  padding: 15px;
  text-align: center;
}
.text-loc h2 {
  padding: 20px 19% 30px;
  font-size: 20px;
}
.service-loc {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-loc {
  text-align: center;
}

.services-loc h2 {
  font-size: 23px;
  text-align: justify;
  padding: 20px 19% 30px;
  color: #111c4b;
}

.service-loc {
  padding: 20px 19% 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.box-loc {
  padding: 45px 30px;
  background: rgb(240, 239, 239);
  border-radius: 0.8rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}

.box-loc img {
  width: 150px;
  height: 180px;
  border-radius: 20px;
}

.box-loc h3 {
  font-size: 20px;
  margin: 0;
  line-height: 20px;
  color: #000000;
}
.box-loc p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1.5rem;
}

.s-btnnn {
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ff8b32;
}
