/* navbar */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #06113c;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* Logo */
.logo {
  font-size: 36px;
}

.logo .logo1 {
  color: #ff8c32;
}

/* Navbar Menu */
.menu {
  display: flex;
  padding: 5px;
  font-size: 16px;
}

.menu a:hover {
  color: #ff8c32;
  text-shadow: none;
}

.menu li {
  padding: 10px 14px;
}

/* Button */
.menu .button1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  border: none;
  display: block;
  border-radius: 20px;
  background-color: #ff8c32;
  color: #fff;
  cursor: pointer;
}

.button1:hover {
  background-color: #ffffff;
  /* Green */
  color: #ff8c32;
  border: 2px solid #ff8c32;
  transition-duration: 0.8s;
}
/* informasi */
/* kota */

.images1 {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-center h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.text-center h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ff8c32;
}
.service-item {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.service-box {
  padding: 45px 30px;
  background: rgb(245, 243, 243);
  border-radius: 0.8rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}

.service-box img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
}

.service h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #000000;
}
.service p {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 1.5rem;
}

.service-box:hover {
  transform: translateY(-8px);
  border: 1px solid #ff8c32;
}

.s-btnn {
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  display: block;
  border-radius: 20px;
  background-color: #ff8c32;
  color: #fff;
  cursor: pointer;
}

.s-btnn:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  /* Green */
  color: #ff8c32;
  border: 1px solid;
  transition-duration: 0.8s;
}

/* Information */
.information .information-wrapper {
  margin: auto;
  padding: 100px;
}

.information .row1 {
  text-align: center;
}

.information .label-information {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #06113c;
}

.information-wrapper .heading-information {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  margin: 10px 0;
}

.information-wrapper .subheading-information {
  font-size: 20px;
  color: #ff8b32;
}

.information-wrapper .row2 {
  background-color: #06113c;
  color: #ffffff;
  width: 100%;
  height: 120%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px 50px 0 0;
}

.row2 .box-information {
  position: relative;
  max-width: 300px;
  text-align: center;
  padding: 30px;
}

.box-information img {
  position: relative;
  width: 50px;
  height: 50px;
}

.box-information h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #ff8b32;
}

.box-information .btn-learn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: #ff8b32;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: 0.2s ease-in-out;
}

.box-information:hover .btn-learn {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  transition: 0.2s ease-in-out;
}

.btn-learn a {
  color: #ffffff;
}

.container-search {
  width: 500px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #cccccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.head {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #06113c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
  background-color: #06113c;
  color: #cccccc;
  border: 1px solid;
  transition-duration: 0.8s;
}

/* CARD INFORMASI */
.card-all {
  padding: 30px 19% 30px;
  align-items: center;
}
.images {
  display: flex;
  justify-content: center;
}

.slides a {
  color: #000;
}

.slides span {
  color: #666;
}
.card-text-content {
  display: flex;
  justify-content: space-between;
}
.isi-content h2 {
  color: #000;
}

.isi-content p {
  color: #000;
  font-size: 17px;
}

.card-isi-popups {
  background-color: rgb(240, 239, 239);
  border-radius: 0 0 20px 20px;
  text-align: center;
  align-items: center; /* Teks di tengah secara vertikal */
  justify-content: center;
}

.logoss h2 {
  color: #f0f0f0;
  font-size: 16px;
}

.logoss span {
  color: #ff8c32;
  font-size: 16px;
}
.logoss {
  background-color: #06113c;
  margin: 0;
}
.text-popups {
  text-align: center;
  align-items: center; /* Teks di tengah secara vertikal */
  justify-content: center;
}
.text-popups h4 {
  font-size: 10px;
}
.text-popups p {
  font-size: 10px;
}

.head-card {
  margin: 10px;
  justify-content: space-between;
}

.card-popups {
  margin: 3px;
  background-color: #fcfcfc;
  border-radius: 20px;
  display: flex;
}
.popups {
  background-color: #0d173f;
  border-radius: 50%;
  height: 40px;
  width: 80px;
  text-align: center;
  align-items: center; /* Teks di tengah secara vertikal */
  justify-content: center;
}

.popups h3 {
  color: #ff8b32;
  font-size: 10px;
}

.popups span {
  color: #fff;
  font-size: 10px;
}

.pict-head img {
  align-items: center;
  width: 1050px;
  height: 500px;
}

.container-angka {
  padding: 20px 19% 30px;
}
.head-angka h2 {
  font-size: 23px;
  margin-bottom: 12px;
  color: #000000;
}

.rows {
  padding: 10px;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(240, 239, 239);
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.card-angka h1 {
  color: #111c4b;
  margin: 0;
}
.card-angka p {
  font-size: 16px;
  color: #ff8b32;
  margin: 0;
}
.card-angka {
  padding: 15px;
  text-align: center;
}
.text-loc h2 {
  padding: 20px 19% 30px;
  font-size: 20px;
  color: #000000;
}
.service-loc {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-loc {
  text-align: center;
  color: #000000;
}

.services-loc h2 {
  font-size: 23px;
  text-align: justify;
  padding: 20px 19% 30px;
  color: #111c4b;
}

.service-loc {
  padding: 20px 19% 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.box-loc {
  padding: 45px 30px;
  background: rgb(240, 239, 239);
  border-radius: 0.8rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}

.box-loc img {
  width: 150px;
  height: 180px;
  border-radius: 20px;
}

.box-loc h3 {
  font-size: 20px;
  margin: 0;
  line-height: 20px;
  color: #000000;
}
.box-loc p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1.5rem;
}

.s-btnnn {
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ff8b32;
}

/* footer */
.footer {
  display: flex;
  background-color: #06113c;
  color: #fff;
  padding: 20px 10% 20px;
}

.logo p {
  font-size: 14px;
  padding: 20px;
}
.footer-section {
  flex: 1; /* Membagi lebar dengan rasio yang sama */
  text-align: center;
}
.contact-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact-form {
  width: 70%;
  padding: 9px 20px;
  background: white;
  border-radius: 5px;
}

.btn-submit {
  height: 39px;
  justify-content: space-between;
  background-color: #ff8b32;
  width: 25%;
  padding: 9px 20px;
  border-radius: 5px;
}

.footer-text {
  flex: 2; /* Membagi lebar dengan rasio yang sama */
  text-align: center;
}

.text-end a {
  color: #ff8c32;
}

.end-icons a {
  height: 40px;
  width: 40px;
  background: #ff8c32;
  color: #ff8c32;
  border: 2px solid #ff8c32;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  margin: 0.5px;
  transition: all ease 0.5s;
}

.end-icons a:hover {
  transform: translateY(-5px);
  background: transparent;
  border: 2px solid #ff8c32;
}
